spring:
  application:
    name: LogProcessor
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        prefetch: 32
        concurrency: 4
        max-concurrency: 8
        default-requeue-rejected: false
        idle-event-interval: 30000

#Queue names
queue:
  raw-records: raw-records-queue
  enriched-records: enriched-records-queue
  dead-letter: dead-letter-queue
# Exchange names
exchange:
  main: log-ingestion-exchange
  dlx: dead-letter-exchange

# Application configuration
app:
  enrichment:
    url: https://api.heyering.com/enrichment
  analytics:
    url: https://api.heyering.com/analytics
    batch-size: 20
  auth:
    header: eye-am-hiring

# Resilience4j Configuration
resilience4j:
  circuitbreaker:
    instances:
      enrichmentService:
        slidingWindowSize: 20
        minimumNumberOfCalls: 10
        failureRateThreshold: 60
        waitDurationInOpenState: 15s
        slowCallDurationThreshold: 2s
        slowCallRateThreshold: 70
        permittedNumberOfCallsInHalfOpenState: 5

  retry:
    instances:
      enrichmentService:
        maxAttempts: 4
        waitDuration: 300ms
        enableExponentialBackoff: true
        exponentialBackoffMultiplier: 2
        retryExceptions:
          - org.springframework.web.reactive.function.client.WebClientRequestException
          - org.springframework.web.reactive.function.client.WebClientResponseException
          - java.util.concurrent.TimeoutException
          - java.io.IOException
      analyticsService:
        maxAttempts: 3
        waitDuration: 500ms
        enableExponentialBackoff: false
        #DO NOT RETRY FOR RATELIMITER ERRORS
        ignoreExceptions: org.springframework.web.client.HttpClientErrorException$TooManyRequests

  ratelimiter:
    instances:
      analyticsService:
        limitForPeriod: 1
        limitRefreshPeriod: 10s
        timeoutDuration: 10s


  bulkhead:
    instances:
      enrichmentService:
        maxConcurrentCalls: 10
        maxWaitDuration: 500ms


# Logging configuration
logging:
  level:
    com.analytics.LogProcessor: INFO
    com.analytics.LogProcessor.aspect: INFO
    com.analytics.LogProcessor.service.MetricsService: INFO
    com.analytics.LogProcessor.service.AnalyticsService: INFO
    io.github.resilience4j.ratelimiter: INFO

  # Log file rolling configuration
  logback:
    rollingpolicy:
      max-file-size: 10MB           # Max size per log file
      max-history: 30               # Keep 30 days of logs
      total-size-cap: 1GB          # Maximum total size of all log files
      file-name-pattern: logs/application-%d{yyyy-MM-dd}.%i.log  # Rolled file pattern